/* -------------------- Import Google Font -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------------- Global Styles -------------------- */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* شكل التحديد حوالين السيكشن */
section.active {
  outline: 4px solid #0ef;   /* لون التحديد */
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 238, 255, 0.6);
}

/* كمان خلي اللينك في الـ navbar يبان متفعل */
.nav-menu .nav-link.active {
  color: #0ef;
  font-weight: bold;
}


/* -------------------- Header / Navbar -------------------- */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #f0f0f0;
}

.nav-logo .logo-text {
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.8em;
    text-transform: uppercase;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

/* الخلفية المعتمة عند فتح القائمة */
body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 998;
}

.nav-item .nav-link {
    text-decoration: none;
    color: #001651;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-item .nav-link:hover {
    color: rgb(0, 0, 255);
}

/* Menu toggle buttons */
#menu-open-button,
#menu-close-button {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

/* Normal desktop view */
.nav-menu {
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 0;
    background: transparent;
}

body.show-mobile-menu::before {
    display: none;
}

#menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
}




/* -------------------- Sections -------------------- */
section {
    padding: 100px 200px;
}

/* -------------------- Cards -------------------- */
.cards {
    background-color: #f0f0f0;
}

.cards h1 {
    font-size: 50px;
}

.card {
    background-color: #01013b;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.2);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
    color: #fff;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/* -------------------- Projects -------------------- */
.projects {
    background-color: #000016;
}

.projects h1 {
    font-size: 50px;
}

.projects .content {
    margin-top: 40px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 20em;
    width: 30em;
    overflow: hidden;
    border-radius: 10px;
    margin: 30px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.2);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}

/* -------------------- Contact -------------------- */
.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

/* -------------------- Footer -------------------- */
.footer {
    width: 100%;
    margin: 0;
    padding: 2rem 10%;
    background-color: #000016;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 1.2rem;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.footer .social-icons a {
    font-size: 1.3em;
    color: #fff;
    transition: transform 0.3s ease;
}

.footer .social-icons a:hover {
    transform: scale(1.2);
    color: #3a6cf4;
}


/* -------------------- Titles -------------------- */
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

/* -------------------- Content Layout -------------------- */
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* -------------------- Social Icons -------------------- */
.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

/* -------------------- Home Section -------------------- */
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 110vh;
    background-color: #000016;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    color: #f0f0f0;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    color: #4e9eff;
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    transition: 0.3s;
    opacity: 0;
    animation: slideright 1s ease forwards;
    animation-delay: 1s;
}

.home-content h2 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content h3 span {
    color: #4e9eff;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slidetop 1s ease forwards;
    animation-delay: .7s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}

.Home-img img {
    margin-left: 10px;
    width: 300px;
    height: 500px;
    box-shadow: 0 0 40px #4e9eff;
    transition: 0.3s;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #4e9eff;
    border-radius: 50%;
    font-size: 20px;
    color: #4e9eff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.3s ease;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.home-sci a:hover {
    background: #4e9eff;
    color: #1f1f1f;
    box-shadow: 0 0 30px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #4e9eff;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 800;
    opacity: 0;
    animation: slidetop 0.5s ease forwards;
    animation-delay: 2.5s;
}

.btn-box:hover {
    background: #4e9eff;
    color: #1f1f1f;
    box-shadow: 0 0 20px #4e9eff;
}

/* About Section */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "image text";
    align-items: center;
    gap: 2rem;
    padding: 80px 10%;
    background-color: #f0f0f0;
    box-shadow: 0 0 30px rgba(0, 238, 255, 0.2);
}

.about-img {
    grid-area: image;
    text-align: center;
}

.about-text {
    grid-area: text;
}

.about-img img {
    width: 100%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 40px #4e9eff;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.about-img img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 60px #4e9eff;

}

.about-text h2 {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 15px;
    color: #081b29;

}



.about-text h3 {
    font-size: 35px;
    font-weight: 600;
    color: #4e9eff;
    margin-bottom: 20px;
}

.about-text p {
    color: #081b29;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 2rem;
    text-align: justify;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #4e9eff;
    color: #081b29;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-box:hover {
    border: 2px solid #4e9eff;
    box-shadow: 0 0 30px #4e9eff;
}

/* Skills Section */
#Skills {
    background-color: #000016;
    color: #000016;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 4rem;
}

#Skills .sub-title {
    margin-top: 80px;
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

#Skills .sub-title span {
    color: #f0f0f0;
}

#Skills p {
    font-size: 20px;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 50px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

/* Each skill card */
.skill-box {
    background-color: #f0f0f0;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4), 1px 1px 40px rgba(0, 0, 255, 0.2);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-box i {
    margin-bottom: 20px;
    font-size: 30px;
}

.Title h3 {
    justify-content: center;
    text-align: center;
    width: 280px;
    height: 50px;
    background-color: #02026e;
    border-radius: 20px;
}

.skill-box h3 {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 30px;
    color: #f0f0f0;

}

.Title h4 {
    justify-content: center;
    text-align: center;
    width: 310px;
    height: 50px;
    background-color: #02026e;
    border-radius: 20px;
}

.skill-box h4 {
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 30px;
    color: #f0f0f0;

}


.skill-box ul {
    list-style: none;
    padding: 0;
}

.skill-box ul li {
    display: flex;
    margin-bottom: 10px;
    font-size: 25px;
    color: #001651;
}

.skill-box ul li i {
    margin-right: 10px;
    font-size: 25px;
    color: #001651;
}

/* Hover effect like Services */
.skill-box:hover {
    background-color: #dcd9e7;
    transform: scale(1.1);
}



/***************************** Contact Section ***********************/
#R {
    font-size: 18px;
    color: #555;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    margin-top: 10px;
}

.Contact {
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #179ba4;
    border-radius: 20px;
    color: white;
}

.wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper .content_1,
.wrapper .content_2 {
    flex: 1 1 45%;
    min-width: 300px;
}


.contact-information {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
}

.content_1 {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

.Email-contact,
.Phone-contact,
.Location-contact {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
}

.Email,
.Phone,
.Location {
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    background-color: #179ba4;
    transition: transform 0.4s ease;
}

.Email:hover,
.Phone:hover,
.Location:hover {
    transform: scale(1.2);
}

.info-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.label {
    font-size: 14px;
    color: #555;
}

.value {
    font-size: 20px;
    color: #000;
}

.Email {
    background-color: #4e6cf3;
}

.Phone {
    background-color: #0d9e85;
}

.Location {
    background-color: #f14d39;
}


.content_2 {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

.row_2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}



/* WhatsApp */
.Whatsapp-contact_2 {
    text-decoration: none;
    color: inherit;
}

.box_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
}

.Whatsapp-contact_2 .box_2:hover {
    transform: scale(1.1);
    background-color: #cffbd9;
}

.Messenger-contact_2 .box_2:hover {
    transform: scale(1.1);
    background-color: #bcdafb;
}

.Telegram-contact_2 .box_2:hover {
    transform: scale(1.1);
    background-color: #d0f0fd;
}

.Email-contact_2 .box_2:hover {
    transform: scale(1.1);
    background-color: #d2ddff;
}


.Whatsapp_2 {
    font-size: 40px;
    background: #25D366;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.title_2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.message_2 {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

.status_2 {
    font-size: 14px;
    color: green;
    display: flex;
    align-items: center;
    gap: 6px;
}

.dot_2 {
    width: 8px;
    height: 8px;
    background: green;
    border-radius: 50%;
    display: inline-block;
}

/* Telegram */
.Telegram-contact_2 {
    text-decoration: none;
    color: inherit;
}

.Telegram_2 {
    font-size: 40px;
    background: #0088cc;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.status_2.telegram {
    color: #0088cc;
}

.dot_2.telegram {
    background: #0088cc;
}

/* Email */
.Email-contact_2 {
    text-decoration: none;
    color: inherit;
}

.Email_2 {
    font-size: 40px;
    background: #007bff;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.status_2.email {
    color: #007bff;
}

.dot_2.email {
    background: #007bff;
}

/* Messanger */
.Messenger-contact_2 {
    text-decoration: none;
    color: inherit;
}

.Messenger_2 {
    font-size: 40px;
    background: #0084FF;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.dot_2.messenger {
    background: green;
}

/* LinkedIn */
.Linkedin-contact_2 {
    text-decoration: none;
    color: inherit;
}

.Linkedin_2 {
    font-size: 40px;
    background: #0077B5;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.dot_2.linkedin {
    background: green;
}

/* GitHub */
.Github-contact_2 {
    text-decoration: none;
    color: inherit;
}

.Github_2 {
    font-size: 40px;
    background: #333;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.dot_2.github {
    background: green;
}

.box_2:hover {
    transform: scale(1.1);
}

.Whatsapp-contact_2:hover .box_2 {
    background-color: #e7f6ec;
}

.Messenger-contact_2:hover .box_2 {
    background-color: #d0e7ff;
}

.Telegram-contact_2:hover .box_2 {
    background-color: #cce6ff;
}

.Email-contact_2:hover .box_2 {
    background-color: #cce0ff;
}

.Linkedin-contact_2:hover .box_2 {
    background-color: #74b8fc;
}

.Github-contact_2:hover .box_2 {
    background-color: #c3c3c3;
}

/* LinkedIn Contact Box */
.Linkedin-contact {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
}

.Linkedin {
    width: 70px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    background-color: #0077B5;
    /* لون لينكدإن */
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.Linkedin-contact:hover .Linkedin {
    transform: scale(1.2);
    background-color: #005582;
    /* لون عند الهوفر */
}

.info-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.label {
    font-size: 14px;
    color: #555;
}

.value {
    font-size: 20px;
    color: #000;
}

/* GitHub Contact Box */
.Github-contact {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
}

.Github {
    width: 50px;
    height: 50px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    background-color: #333;
    /* لون GitHub */
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.Github-contact:hover .Github {
    transform: scale(1.2);
    background-color: #000;
    /* لون عند الهوفر */
}

.info-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.label {
    font-size: 14px;
    color: #555;
}

.value {
    font-size: 20px;
    color: #000;
}




/* -------------------- Animations -------------------- */
@keyframes slideright {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideleft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slidetop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slidebottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* -------------------- Media Queries -------------------- */

@media (max-width:950px) {
    .nav-logo .logo-text {
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.nav-item .nav-link {
    text-decoration: none;
    color: #001651;
    font-size: 1rem;
    font-weight: 400;
}

.home-content p {
    font-size: 18px;
    padding-right: 10px;
}

    .wrapper {
        flex-direction: column;
    }

    .wrapper .content_1,
    .wrapper .content_2 {
        flex: 1 1 100%;
    }

    header {
        padding: 25px 20px;
    }
    .home-content h1 {
        font-size: 36px;
        padding-right: 10px;
    }
    .home-content h2 {
        font-size: 36px;
        padding-right: 10px;
    }
    .home-content h3 {
        font-size: 25px;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.7em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1rem;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .about {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 60px 5%;
    }

    .about-img img {
        margin: 0 auto 20px;
        max-width: 300px;
    }

    .about-text h2 {
        font-size: 45px;
    }

    .about-text h3 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 16px;
        line-height: 1.6;
    }

    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .skill-box {
        padding: 20px 15px;
    }

    .skill-box h3,
    .skill-box h4 {
        font-size: 24px;
    }

    .skill-box ul li {
        font-size: 18px;
    }
}

@media (max-width:850) {
    .nav-logo .logo-text {
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}
.nav-item .nav-link {
    font-size: .8rem;
    font-weight: 400;
}
}

@media (max-width:700px) {

    .nav-item .nav-link {
        transition: all 0.3s ease;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 25px;
    }

    .nav-item .nav-link:hover {
        color: white;
        background-color: #00007d;
        border: 2px solid black;
        font-size: 30px;
    }


    .nav-menu {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: #f0f0f0;
        gap: 30px;
        transition: left 0.3s ease;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    }

    body.show-mobile-menu .nav-menu {
        left: 0;
    }


    #menu-open-button,
    #menu-close-button {
        display: block;
    }




    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .home {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding: 20px 10px 50px;
        text-align: center;
    }

    .home-content h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .home-content h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .home-content h2 {
        font-size: 24px;
        padding-top: 120px;
        margin-bottom: 20px;
    }

    .Home-img img {
        width: 250px;
        height: 400px;
        margin: 20px 0;
    }

    .home-content p {
        font-size: 16px;
    }

    .home-sci a {
        width: 35px;
        height: 35px;
        font-size: 18px;
        margin: 15px 10px 15px 0;
    }

    .btn-box {
        padding: 10px 20px;
        font-size: 16px;
    }

    .project-card {
        background-color: #fff;
        border: 1px solid #fff;
        min-height: 20em;
        width: 28em;
        overflow: hidden;
        border-radius: 10px;
        margin: 10px;
        transition: 0.7s ease;
    }

    .project-card:hover {
        transform: scale(1.1);
    }

    .about {
        padding: 60px 20px;
    }

    .about-img img {
        width: 250px;
        height: 400px;
        margin: 20px 0;
    }

    .about-text h2 {
        font-size: 32px;
    }

    .about-text h3 {
        font-size: 22px;
    }

    .about-text p {
        font-size: 14px;
        text-align: center;
    }

    .btn-box {
        padding: 10px 20px;
        font-size: 14px;
    }

    #Skills .sub-title {
        color: white;
        font-size: 30px;
        padding-bottom: 10px;
        margin-top: -20px;
    }

    #Skills p {
        color: white;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .sub-title {
        color: #007bff;
    }


    .skills-grid {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .skill-box {
        padding: 15px 10px;
    }

    .skill-box h3,
    .skill-box h4 {
        font-size: 20px;
    }

    .skill-box ul li {
        font-size: 16px;
    }

    .skill-box:hover {
        transform: scale(1.05);
    }

    .about {
        grid-template-columns: 1fr;
        grid-template-areas:
            "text"
            "image";
        text-align: center;
    }

    .about-text h2 {
        font-size: 40px;
    }

    .about-text h3 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 16px;
    }

    .wrapper {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .content_1 {
        flex: 1 1 90%;
        min-width: unset;
        max-width: 380px;
        margin: 20px auto;
        padding: 0 20px;
    }


    .content_2 {
        flex: 1 1 90%;
        min-width: unset;
        max-width: 380px;
        margin: 20px auto;
    }


    .row_2 {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .box_2 {
        width: 150px;
        /* تصغير البوكسات على الموبايل */
        padding: 15px;
    }

    .Whatsapp_2,
    .Messenger_2,
    .Telegram_2,
    .Email_2,
    .Linkedin_2,
    .Github_2 {
        width: 50px;
        /* تصغير حجم الأيقونة */
        height: 50px;
        font-size: 30px;
        margin-bottom: 8px;
    }

    .contact-information {
        font-size: 24px;
        gap: 15px;
    }

    .info-text .value {
        font-size: 18px;
    }

    .info-text .label {
        font-size: 20px;
    }

    .footer {
        padding: 1.5rem 5%;
    }

    .footer-title {
        font-size: 1.5em;
    }

    .footer .social-icons a {
        font-size: 1.5em;
    }

    .project-card {
        background-color: #fff;
        border: 1px solid #fff;
        min-height: 20em;
        width: 22em;
        overflow: hidden;
        border-radius: 10px;
        margin: 10px;
        transition: 0.7s ease;
    }

}